@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#content{
    padding-top: 3em;
    margin: 0 auto;
    width: 95%;
    max-width: 95%;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #a8e2e6;
    max-width:fit-content;    
}

main{    
    display:grid;
    grid-template-areas: "s1"
                         "s2"
                         "s3";
    gap:10px;
    
}

header{
    align-items:center;
    background-color: #537b80;
    color:white;
    border:2px black solid;
    border-radius: 20px;
    padding: .5rem;
}
header h1{
    font-size: 4vw;
}
header h2{
    font-size: 3vw;
}

.section{
    border: solid 2px black;
    border-radius:15px;
    text-align: center;
}

.section h3{
    font-size:3vw;
}

.section p{
    font-size:2vw;
}

img{
    margin-top: 1rem;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 1rem;
    width: 80%;
    border: 2px black solid;
    display:block;
}

header h1{
    text-align: center;
}

h2{
    text-align: center;
}
#alignment{
    grid-area: s1;
}

#color{
    grid-area:s2;
}

#emphasis{
    grid-area:s3;
}
footer{
    text-align: center;
    align-items:center;
    background-color: #537b80;
    color:white;
    border:2px black solid;
    border-radius: 20px;
    padding: 1rem;
}