@media screen and (min-width: 900px){

    #top {
        display:flex;
        width:100%;
        background-color:#033123 ;
    }
    nav a{
        margin-left: auto;
        margin-right:auto;
    }
    .articles{
        margin:0 auto;
        max-width: 800px;
    }
    nav ul {
        flex-direction: row;
        padding-left: 0;
        margin-top: 30px;
      }
  
      nav ul li {
        text-align: center;
      }
  
      #navbar{
        display: flex;
      }
  
      #hamburger-menu{
        display: none;
      }
      /* index page */
      #index-main {
        display:grid;
        grid-template-areas: "i2 i1 i1 i5"
                             "i3 i1 i1 i5"
                             "i6 i4 i4 i5";
        gap: 10px;
      }
      #index-main .hero{
        height: 100%;
        width:100%;
        overflow: hidden;
      }
      #index-main .hero img{
        height:100%;
      }
      #index-main .spotlights{
        flex-direction: column;

      }
      #index-main .spotlight3{
        display:block;

      }
      #index-main .join{
        display:block;
      }
    }