@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #a8e2e6;
    
}

header{
    display:flex;
    align-items:center;
    background-color: #537b80;
    color:white;
    border:2px black solid;
    border-radius: 20px;
}

header img{
    margin: 1rem;
    height: 160px;
    width:160px;
    border: 2px black solid;
}

header h1{
    text-align: center;
}

header div:nth-child(2){
    width:100%;
}

main h2{
    text-align: center;
}

#content{
    padding-top: 3em;
    margin: 0 auto;
    width: 880px;
}
footer{
    text-align: center;
    align-items:center;
    background-color: #537b80;
    color:white;
    border:2px black solid;
    border-radius: 20px;
    padding: 1rem;
}